<ion-header>
  <ion-toolbar align="center" color="warning">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img src="/assets/hamburguesa.jpg" />
    <ion-card-header>
      <ion-card-title style="font-size: 17px;">HAMBURGUESAS</ion-card-title>
      <ion-card-subtitle>Jugosa</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Una sensación de sabores desde el primer bocado, productos de la mejor calidad y al alcance de su bolsillo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/papas.jpg" />
    <ion-card-header>
      <ion-card-title>PAPAS</ion-card-title>
      <ion-card-subtitle>Adictivas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Una sensación de sabores desde el primer bocado, productos de la mejor calidad y al alcance de su bolsillo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/alitas.jpg" />
    <ion-card-header>
      <ion-card-title>ALITAS</ion-card-title>
      <ion-card-subtitle>Exquisitas</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      Una sensación de sabores desde el primer bocado, productos de la mejor calidad y al alcance de su bolsillo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src="/assets/pizza.jpg" />
    <ion-card-header>
      <ion-card-title>PIZZAS</ion-card-title>
      <ion-card-subtitle>Sabrosas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Una sensación de sabores desde el primer bocado, productos de la mejor calidad y al alcance de su bolsillo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src="/assets/perro.jpg" />
    <ion-card-header>
      <ion-card-title>PERROS</ion-card-title>
      <ion-card-subtitle>Espectaculares</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Una sensación de sabores desde el primer bocado, productos de la mejor calidad y al alcance de su bolsillo.
    </ion-card-content>
  </ion-card>

</ion-content>
